body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: small;
}

h1 {
    font-size: 170%;
}

h2 {
    font-size:130%;
}

h1, h2 {
    text-decoration: none;
    color: #c60;
    border-bottom: thin dashed #c60;
    font-weight: normal;
}

blockquote {
    font-style: oblique;
}

table {
    margin-left: 100px;
    border: thin solid black;
    caption-side: bottom;
    border-collapse: collapse;
}
td, th {
    border: thin dotted gray;
    padding: 5px;
}
caption {
    font-style: italic;
    padding-top: 8px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

th {
    background-color: #c60;
}

.cellcolor {
    background-color: #fcba7a;
}

#nested {
    margin-left:auto;
    margin-right:auto;
}
#nested th {
    background-color: white;
    font-weight: normal;
}

li {
    list-style-image: url(images/backpack.gif);
    margin-left: 20px;
    margin-top: 5px;
}